<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plataforma de perguntas e respostas</title> <!-- Título da página -->
  <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- pegando o css da pasta public -->
  <link rel="stylesheet" href="/css/style.css">
</head>