<nav class="navbar navbar-light bg-primary">
  <img class="logo" src="/img/vortex.png" alt="Logo do Vortex">
  <a class="navbar-brand" href="/">
    <img class="home" src="/img/home.png" alt="Home">
  </a>
  <!-- colocando a imagem da logo do vortex da pasta public -->
</nav>